html {
  font-size: 100%;
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }

  80% {
    transform: translateX(1rem);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem);
  }

  80% {
    transform: translateX(-1rem);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem);
  }  

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

img {
  width: 100%;
}

#landing__title {
  font-size: 3rem;
  letter-spacing: .5rem;
  animation: moveInLeft 1s ease-out;
}

#landing__subtitle {
  animation: moveInRight 1s ease-out;
  font-size: 1.25rem;
}

#landing__btn-sign-up {
  margin-left: 15%;
  float: left;
}

#landing__btn-login {
  margin-right: 15%;
  float: right;
}


.landing__btn {
  animation: moveInBottom .5s ease-out .75s;
  animation-fill-mode: backwards;
}

.landing__btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 1rem 2rem rgba(212, 201, 201, 0.2);
}

.landing__btn:active {
  transform: translateY(-1px);
  box-shadow: 0 .5rem 1rem rgba(212, 201, 201, 0.2);
}

#profile-item-skillset {
  padding: 0;
  max-height: 150px;
  overflow-y: scroll;
}

td {
  overflow: hidden;
  text-overflow: ellipsis;
}

.img {  
  float: left;
}

.btn-sm {
  border-radius: .25rem;
  margin-top: -.4rem;
}

.delete-account__hr {
  display: none;
}

#dashboard__delete-button {
  border: 0px;
}

.row {
  margin: 0px;
}

.navbar__user-icon {
  width: 25px;
  margin-right: 1.5vw;
}

.spinner {
  width: 15vw;

  margin: auto;
  display: block;
}

.btn--margin {
  margin-top: 5vh;
}

hr {
  width: 95%;
}

.dashboard__heading {
  margin-left: -10px;
}

.table {
  margin-bottom: 0rem;
}

.dashboard__container {
  margin: 0px -7px;
}

.dashboard__btn-delete {
  cursor: pointer;
}

#dashboard__table-filler-cell {
  max-width: 10%;

  flex: 0 0 10%;
  background: aqua;
}

.landing {
  position: relative;
  background: url('./img/showcase.jpg') no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  margin-top: -4vh;
  margin-bottom: -7.5vh;
}

.landing-inner {
  padding-top: 8rem;
}

.landing--dark-overlay {
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.form-control::placeholder {
  color: #bbb !important;
}

.edit-profile__span--optional-label {
  margin: 0 2.5vw;
}

.edit-profile__social-icon-wrapper {
  width: 10%;
}

.edit-profile__social-icon-span {
  width: 100%;
}

.edit-profile__optional-btn {
  text-align: center;
}

.posts-comments-feed__delete-item-button {
  float: right;
}

.posts-profiles-feed__feed-item-link-span {
  display: flex;
  margin: 4.5vh auto;
  width: 83%;
}

.posts-profiles-feed__feed-item-link {
  width: 100%;
}

.posts-comments-feed__feed-item-content-text {
  width: 75%;
  margin: 0px 7px;
  float: left;
}

.posts-comments__submit-button {
  width: 100%;
}

.fab {
  margin: 0 auto;
}

#posts-feed__likes-count {
  margin-left: 1.5px;
}

.fa-thumbs-up {
  margin-left: -6px;
}

.col-2,
.col-8,
.col-12 {
  padding: 0;
}

#feed-generic__users-basic-details {
  margin: 0 0 0 13px;
  float: left;
  width: 70%
}

#profiles-feed__users-profile-name,
.profiles-feed__current-position,
.profiles-feed__current-location {
  margin: 2vw 0;
}

.profile-item__heading-skillset {
  width: 100%;
}

#feed-generic__users-profile-name {
  margin: 0;
}

#posts-feed__feed-item-link-wrapper {
  margin: 20px 0 0 0;
}

.dashboard__content-container {
  border: 1px solid rgba(0,0,0,.125);
}

.form-generic__container {
  padding: 1.25rem;
}

#profile-github__info-container {
  padding: 0 15px;
}

@media only screen and (max-width: 450px) {
  .display-3 {
    font-size: 3.5em;
  }

  #landing__title {
    font-size: 2rem;
    letter-spacing: 2.5vw;
  }

  #landing__subtitle {
    font-size: .6rem;
    letter-spacing: 0.15vw;
  }

  #landing__btn-sign-up,
  #landing__btn-login {
    padding: .375rem .75rem;
    font-size: 1em;
  }

  #profile__container-wrapper {
    text-align: center;
  }

  #profile-header__title {
    font-size: 2.5rem;
  }

  #profile-about__skillset {
    overflow-y: scroll;
    max-height: 32vh;
  }

  #dashboard__content-table {
    width: 98%;
    margin: 0px 1%;
  }
}

@media only screen and (min-width: 500px) and (max-width: 767px) {
  #feed-generic__users-basic-details {
    margin: 5px 0 0 7px;
    font-size: .6875rem;
  }

  #profiles-feed__users-profile-name,
  .profiles-feed__current-position,
  .profiles-feed__current-location,
  #feed-generic__users-profile-name {
    margin: .25vw 0;
  }

  .lead {
    font-size: 0.8rem;
  }

  .posts-comments-feed__like-btn,
  .posts-comments-feed__unlike-btn,
  .img--alt-font {
    font-size: 10px;
    padding: 3px 5px 0px 5px;
  }
}

@media only screen and (max-width: 500px) {
  #dashboard__create-profile-btn {
    width: 100%;
  }

  .edit-profile__social-icon-wrapper {
    width: calc(5vw + 2.5rem);
  }

  #feed-generic__users-basic-details {
    width: 60%;
  }
}

@media only screen and (max-width: 991px) {
  .profile-item__heading-skillset {
    font-size: 3.5vw;
    margin-top: 20px;
  }
}

@media only screen and (max-width: 767px) {
  #landing__title {
    width: 90%;
    margin: 0 5%;
    letter-spacing: 3vw;
  }

  #landing__subtitle {
    font-size: .8rem;
    letter-spacing: 0.65vw;
    width: 80%;
    margin: 0 10%;
  }

  .form-text {
    font-size: 80%;
  }

  .posts-profiles-feed__feed-item-link-span {
    margin: 25px auto;

    margin: 4.5vh auto;
  }

  .fa-thumbs-general {
    vertical-align: top;
  }

  .fa-thumbs-up {
    margin-left: -3px;
  }

  .posts-profiles-feed__feed-item-link {
    width: 100%;
    margin-top: 0px;
    text-align: center;
  }

  #posts-feed__likes-count {
    vertical-align: top;
  }

  .posts-profiles-feed__feed-item-link {
    padding: .25rem .5rem;
    font-size: .875rem;
  }

  .dashboard__content-container {
    border-radius: 5px;
    margin-bottom: 10vh;
    padding: 2vh 1.5vw;
  }

  .dashboard__welcome-label,
  .dashboard__heading {
    text-align: center;
    margin-left: 0px;
  }

  .dashboard__delete-account-btn {
    width: 94%;
    margin-left: 12px;
  }

  #dashboard__delete-button {
    padding: 0px;
    margin-top: 1.5vh;

    margin-left: 0;

    max-width: 10%;
    flex: 0 0 10%;
    text-align: center;
  }

  .dashboard__btn-delete {
    border-radius: 40px;
    margin-bottom: 0px;
  }

  .table-item--sm {
    max-width: 30%;
    flex: 0 0 30%;
    text-align: center;
  }

  .dashboard__content-heading {
    text-align: center;
    margin-top: .5rem;
  }

  .dashboard__profile-actions {
    display: block;
  }

  .dashboard__profile-actions > a {
    width: 100%;
  }
}

@media only screen and (max-width: 375px) {
  .table-item--sm {
    font-size: 0.7em;
  }

  .posts-profiles-feed__feed-item-link {
    margin-left: 0;
  }

  #profiles-feed__users-profile-name,
  .profiles-feed__current-position,
  .profiles-feed__current-location,
  #feed-generic__users-profile-name {
    margin: .07vw 0;
  }

  #feed-generic__users-basic-details {
    font-size: .4375rem;
    margin: .4vh 0 0 .7vw;
  }

  .list-group-item {
    font-size: .6em;
    padding: .3rem .7rem;
  }

  .posts-comments-feed__feed-item-content-text {
    width: 66%;
    margin: 0px .8vw;
  }

  .lead {
    font-size: 0.65rem;
  }

  .posts-comments-feed__like-btn,
  .posts-comments-feed__unlike-btn,
  .img--alt-font {
    font-size: 9px;
    padding: .2rem .2rem 0 .4rem;
  }

  .posts-comments-feed__unlike-btn {
    font-size: 9px;
    padding: .2rem .4rem 0 .4rem;
  }
}

@media only screen and (min-width: 425px) and (max-width: 500px) {
  .list-group-item {
    font-size: .6em;
  }

  #profiles-feed__users-profile-name,
  .profiles-feed__current-position,
  .profiles-feed__current-location,
  #feed-generic__users-profile-name {
    margin: .15vw 0;
  }

  #feed-generic__users-basic-details {
    font-size: .5625rem;
    margin: .8vh 0 0 1.6vw;
  }
  
  .posts-comments-feed__feed-item-content-text {
    width: 69.5%;
  }

  .lead {
    font-size: 0.7rem;
  }

  .posts-comments-feed__like-btn,
  .posts-comments-feed__unlike-btn,
  .img--alt-font {
    font-size: .5625rem;
    padding: 3px 5px 0px 5px;
  }
}


@media only screen and (min-width: 375px) and (max-width: 425px) {
  #profiles-feed__users-profile-name,
  .profiles-feed__current-position,
  .profiles-feed__current-location,
  #feed-generic__users-profile-name {
    margin: .1vw 0;
  }

  #feed-generic__users-basic-details {
    font-size: .5rem;
    margin: 0.5vh 0 0 1.5vw;
  }

  .list-group-item {
    font-size: .6em;
    padding: .3rem .7rem;
  }

  .lead {
    font-size: .65rem;
  }

  .posts-comments-feed__feed-item-content-text {
    width: 66%;
  }

  .posts-comments-feed__like-btn,
  .posts-comments-feed__unlike-btn,
  .img--alt-font {
    font-size: 9px;
    padding: 4px 4px 2px 6px;
  }
}

@media only screen and (min-width: 376px) and (max-width: 575px) {
  .table-item--sm {
    font-size: 0.9em;
  }
}

@media only screen and (min-width: 576px) {
  .posts-comments-feed__delete-item-button {
    padding: 1.5px 7px;
  }
}

@media only screen and (max-width: 575px) {
  .posts-comments-feed__delete-item-button {
    padding: 0px 5.5px;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
  #navbar__main-nav {
    font-size: .85rem;
  }
  
  .navbar__generic-link {
    margin-top: 1vh;
  }

  #navbar__logout-li {
    margin-top: .15vh;
  }

  .navbar__user-icon {
    vertical-align: bottom;
    margin-right: 1.5vw;
  }

  .posts-comments-feed__feed-item-content-text {
    width: 73%;
  }
}

@media only screen and (min-width: 768px) {
  .md-container {
    width: 100%;
    padding-right: 1.5vw;
    padding-left: 1.5vw;

    margin-right: auto;
    margin-left: auto;

    max-width: 720px;
  }

  .posts-comments-feed__feed-item-content-text {
    margin: 0px 14px;
  }

  .navbar-collapse {
    margin-top: 6px;
  }

  .posts-comments-feed__like-btn,
  .posts-comments-feed__unlike-btn,
  .img--alt-font {
    font-size: .75rem;
  }

  #dashboard__delete-button {
    width: 7%;
    max-width: 7%;
    flex: 0 0 7%;
    text-align: center;
  }

  .dashboard__content-heading {
    margin-top: .5rem;
  }

  .dashboard__content-container {
    border-radius: 5px;
    margin-bottom: 10vh;
    padding: 2vh 1.5vw;
  }

  .dashboard__btn-delete {
    border-radius: 40px;
    margin-bottom: 0px;
  }

  .table-item-md {
    -webkit-box-flex: 0;
    flex: 0 0 31%;
    max-width: 31%;
  }

  #dashboard__table-filler-cell {
    width: 7%;
    max-width: 7%;
    flex: 0 0 7%;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .posts-profiles-feed__feed-item-link {
    width: 100%;
  }

  #feed-generic__users-basic-details {
    margin: -.3125rem 0 0 .8125rem;
  }

  #profiles-feed__users-profile-name,
  .profiles-feed__current-position,
  .profiles-feed__current-location {
    margin: 1vw 0;
  }

  #feed-generic__users-profile-name {
    margin-top: 1vw;
  }

  .feed-generic__users-basic-details {
    font-size: .8125rem;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .md-container {
    max-width: 960px;
  }

  .posts-profiles-feed__feed-item-link {
    width: 100%;
  }

  #profiles-feed__users-profile-name,
  .profiles-feed__current-position,
  .profiles-feed__current-location {
    margin: 1.5vw 0;
  }

  #feed-generic__users-profile-name {
    margin-top: 1.5vw;
  }
}

@media only screen and (min-width: 1200px) {
  .md-container {
    max-width: 1140px;
  }

  .posts-profiles-feed__feed-item-link {
    width: 100%;
  }

  .posts-comments-feed__like-btn,.posts-comments-feed__unlike-btn {
    margin-bottom: -.5rem;
    margin-top: -.3125rem;
  }
}