img {
  width: 100%;
}

#post-content-body {
  padding-right: 0px;
}

#hide-like-btn {
  visibility: hidden;
}

#profile-item-skillset-padding {
  padding-right: 2.5em;
}

td {
  overflow: hidden;
  text-overflow: ellipsis;
}

.btn-sm {
  border-radius: .25rem;
  margin-top: -4px;
}

.delete-account-hr {
  display: none;
}

#tableCellDeleteContainer {
  border: 0px;
}

.row {
  margin: 0px;
}

.navbar-user-icon {
  width: 25px;
  margin-right: 5px;
}

.spinner {
  width: 200px;
  margin: auto;
  display: block;
}

.btn-margin-spacing {
  margin-top: 40px;
}

.dashboard-heading {
  margin-left: -10px;
}

.dashboard-content {
  margin: 0px -7px;
}

.deleteDashboardContent {
  cursor: pointer;
}

.landing {
  position: relative;
  background: url('./img/showcase.jpg') no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  margin-top: -24px;
  margin-bottom: -50px;
}

.landing-inner {
  padding-top: 80px;
}

.dark-overlay {
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.card-form {
  opacity: 0.9;
}

.latest-profiles-img {
  width: 40px;
  height: 40px;
}

.form-control::placeholder {
  color: #bbb !important;
}

.edit-profile--optional-label {
  margin: 0px 10px;
}

.edit-profile--social-icon-wrapper {
  width: 10%;
}

.edit-profile--social-icon-span {
  width: 100%;
}

.edit-profile--optional-label__centering-wrapper {
  text-align: center;
}

.post-feed--individual-comment-container__padding {
  padding-right: 0;
}

.post-feed--delete-comment-button__float {
  float: right;
}

.post-feed--post-interaction-container__bottom {
  display: flex;
  /* padding-left: 15px; */
  margin: 25px auto;
  width: 83%;
}

.post-feed--comments-link-button__width {
  width: 100%;
  /* margin-left: 20px; */
}

.post-feed--post-like-button__width {
  width: 6%;
}

.post-feed--post-unlike-button__width-margin {
  margin-left: 15px;
  width: 6%;
}

.post-feed--post-text-__width {
  width: 75%;
  margin: 0px 13px;
  float: left;
}

.posts-comments-submit-button {
  width: 100%;
}

.fab {
  margin: 0 auto;
}

#post-like-counter {
  margin-left: 1.5px;
}

.fa-thumbs-up {
  margin-left: -6px;
}

.col-2, .col-8, .col-12 {
  padding: 0;
}

#profile-short-details-text {
  /* margin: 15px 0 0 13px; */
  margin: 0px 0 0 13px;
  float: left;
  /* font-size: calc(16px - 2vw); */
  width: 70%
}

#users-profile-name, .profileCurrentPosition, .profileLocation {
  /* margin: 3vw 0; */
  margin: 2vw 0;
}

#posters-profile-name {
  margin: 0;
}

#post-likes-wrapper {
  margin: 20px 0 0 20px;
}


@media only screen and (max-width: 650px) {
  /* #users-profile-name, .profileCurrentPosition, .profileLocation, .list-group {
    font-size: 4vw;
  } */
}

@media only screen and (max-width: 450px) {
  .display-3 {
    font-size: 3.5em;
  }

  #btnSignupLink, #btnLoginLink {
    padding: .375rem .75rem;
    font-size: 1em;
  }

  #profile--container-wrapper {
    text-align: center;
  }

  #profile-heading {
    font-size: 2.5rem;
  }

  #profile--skillset {
    overflow-y: scroll;
    max-height: 250px;
  }

  /* .profilePhoto {
    height: 33vw;
    margin-left: 25%;
    width: 50%;
  } */

}

@media only screen and (min-width: 500px) and (max-width: 768px) {
  #profile-short-details-text {
    margin: 5px 0 0 13px;
    font-size: 11px;
  }

  #users-profile-name, .profileCurrentPosition, .profileLocation {
    margin: .25vw 0;
  }
}

@media only screen and (max-width: 500px) {
  #create-profile-button {
    width: 100%;
  }
  
  .profileActions {
    display: block;
  }

  .profileActions > a {
    width: 100%;
  }

  .dashboardWelcomeLabel, .dashboard-heading {
    text-align: center;
    margin-left: 0px;
  }

  .table-item-xs {
    max-width: 33.33%;
    flex: 0 0 33%;
    text-align: center;
  }

  #tableCellDeleteContainer, .deleteDashboardContent {
    width: 100%;
  }

  .btnDeleteAccount {
    width: 94%;
    margin-left: 12px;
  }

  .delete-account-hr {
    display: block;
    width: 98%;
    margin-top: 45px;
  }

  .edit-profile--social-icon-wrapper {
    width: calc(5vw + 25px);
  }

  /* .profilePhoto {
    height: 33vw;
  } */
}

@media only screen and (max-width: 991px) {
  /* .profilePhoto {
    position: relative;
    top: 35%;
  } */

  .profileImageContainer {
    display: -webkit-box;
    margin-bottom: 30px;
  }

  .mainProfileInfoContainer {
    padding-top: 10px;
  }

  /* .profileCurrentPosition {
    margin-top: 15px;
  } */

  /* .profileLocation {
    margin-top: -5px;
  } */

  .headingSkillSet {
    font-size: 3.5vw;
    width: 100%;
    margin-top: 20px;
  }
}
@media only screen and (min-width: 1200px) {
  /* .profilePhoto {
    height: calc(30vw + 7vh);
    margin-left: 25%;
    width: 50%;
  } */

  /* #users-profile-name, .profileCurrentPosition, .profileLocation, .list-group {
    font-size: calc(3vw - 10px);
  } */
}

@media only screen and (max-width: 767px) {
  .form-text {
    font-size: 80%;
  }

  .post-feed--post-interaction-container__bottom {
    display: flex;
    margin: 25px auto;
    /* padding-left: 7px; */
  }

  .post-feed--post-like-button__width {
    width: 11%;
    height: 30px
  }

  .lead {
    font-size: 0.8rem;
    font-weight: 300;
  }

  .fa-thumbs-general {
    vertical-align: top;
  }

  .fa-thumbs-up {
    margin-left: -3px;
  }

  .post-feed--comments-link-button__width {
    width: 100%;
    /* margin-left: 12px; */
    margin-top: 0px;
    height: 30px;
    text-align: center;
  }

  .post-feed--post-unlike-button__width-margin {
    margin-left: 0px;
    height: 30px;
    width: 11%;
  }

  #post-like-counter {
    vertical-align: top;
  }

  .post-feed--comments-link-button__width {
    padding: .25rem .5rem;
    font-size: .875rem;
  }
}

@media only screen and (max-width: 320px) {
  .table-item-xs {  
    font-size: 0.7em;
  }
}

@media only screen and (max-width: 375px) {
  .table-item-xs {
    font-size: 0.8em;
  }

  #profile-item-skillset-padding {
    padding-right: 0;
  }

  .post-feed--comments-link-button__width {
    margin-left: 0;
  }

  #users-profile-name, .profileCurrentPosition, .profileLocation {
    margin: .07vw 0;
  }

  #profile-short-details-text {
    font-size: 7px;
    margin: 3px 0 0 7px;
  }

  .list-group-item {
    font-size: .6em;
    padding: .3rem .7rem;
  }
}

@media only screen and (min-width: 425px) and (max-width: 500px) {
  #profile-item-skillset-padding {
    padding-right: 7%;
  }
  
  .list-group-item {
    font-size: .6em;
  }

  #users-profile-name, .profileCurrentPosition, .profileLocation {
    margin: .15vw 0;
  }

  #profile-short-details-text {
    font-size: 9px;
    margin: 5px 0 0 13px;
  }
  


  /* .profileCurrentPosition {
    font-size: .55em;
  } */

  /* .profileLocation {
    font-size: .55em;
  } */
}


@media only screen and (min-width: 375px) and (max-width: 425px) {
  #profile-item-skillset-padding {
    padding-right: 7%;
  }

  #users-profile-name, .profileCurrentPosition, .profileLocation {
    margin: .1vw 0;
  }

  #profile-short-details-text {
    font-size: 8px;
    margin: 2px 0 0 13px;
  }

  .list-group-item {
    font-size: .6em;
    padding: .3rem .7rem;
  }
}

@media only screen and (min-width: 376px) and (max-width: 575px) {
  .table-item-xs {
    font-size: 0.9em;
  }
}

@media only screen and (min-width: 576px) {
  .post-feed--delete-comment-button__float {
    padding: 1.5px 7px;
  }
}

@media only screen and (max-width: 575px) {
  .post-feed--delete-comment-button__float {
    padding: 0px 5.5px;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
  #main-navbar {
    font-size: .9rem;
  }

  #dashboard-nav-link {
    margin-top: 5px;
  }

  .posts-dashboard-link {
    margin-top: 7px;
  }

  #navbar-logout-list-item {
    margin-top: 4px;
  }

  .navbar-user-icon {
    vertical-align: bottom;
    margin-right: 15px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .post-feed--post-like-button__width {
    width: 8%;
  }
  
  .post-feed--post-unlike-button__width-margin {
    margin-left: 25px;
    width: 8%;
  }

  .post-feed--comments-link-button__width {
    width: 100%;
    /* margin-left: 25px; */
  }

  #profile-short-details-text {
    margin: -5px 0 0 13px;
  }

  #users-profile-name, .profileCurrentPosition, .profileLocation {
    margin: 1vw 0;
  }

  .profile-short-details-text {
    font-size: 13px;
  }

}

@media only screen and (min-width: 991px) and (max-width: 1199px) {
  /* .profilePhoto {
    height: calc(30vw + 7vh);
    margin-left: 25%;
    width: 50%;
  } */
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
  .post-feed--comments-link-button__width {
    width: 100%;
    /* margin-left: 25px; */
  }

  #users-profile-name, .profileCurrentPosition, .profileLocation {
    margin: 1.5vw 0;
  }
}

@media only screen and (min-width: 1200px) {
  .post-feed--comments-link-button__width {
    width: 100%;
    /* margin-left: 25px; */
  }
}