html {
  font-size: 62.5%;
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }

  80% {
    transform: translateX(1rem);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem);
  }

  80% {
    transform: translateX(-1rem);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem);
  }  

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

img {
  width: 100%;
}

#landing-title {
  font-size: 3rem;
  letter-spacing: .5rem;
  animation: moveInLeft 1s ease-out;
}

#landing-subtitle {
  animation: moveInRight 1s ease-out;
}

.landing__btn--animated {
  animation: moveInBottom .5s ease-out .75s;
  animation-fill-mode: backwards;
}

.landing__btn--animated:hover {
  transform: translateY(-3px);
  box-shadow: 0 1rem 2rem rgba(212, 201, 201, 0.2);
}

.landing__btn--animated:active {
  transform: translateY(-1px);
  box-shadow: 0 .5rem 1rem rgba(212, 201, 201, 0.2);
}

#post-content-body {
  padding-right: 0px;
}

#hide-like-btn {
  visibility: hidden;
}

#profile-item-skillset-padding {
  padding-right: 2.5em;
}

td {
  overflow: hidden;
  text-overflow: ellipsis;
}

.profilePhoto {
  float: left;
}

.btn-sm {
  border-radius: .25rem;
  /* margin-top: -4px; */
  margin-top: -.4rem;
}

.delete-account-hr {
  display: none;
}

#tableCellDeleteContainer {
  border: 0px;
}

.row {
  margin: 0px;
}

.navbar-user-icon {
  /* width: 25px; */
  width: 2.5rem;

  /* margin-right: 5px; */
  margin-right: .5rem;
}

.spinner {
  /* width: 200px; */
  /* width: 20rem; */
  width: 15vw;

  margin: auto;
  display: block;
}

.btn-margin-spacing {
  margin-top: 5vh;
}

hr {
  width: 95vw;
}

.dashboard-heading {
  /* margin-left: -10px; */

  margin-left: -1rem;
}

.dashboard-content {
  /* margin: 0px -7px; */

  margin: 0 -.7rem;
}

.deleteDashboardContent {
  cursor: pointer;
}

#table-header-filler-item {
  /* max-width: 10%; */
  max-width: 10%;

  flex: 0 0 10%;
  background: aqua;
}

.landing {
  position: relative;
  background: url('./img/showcase.jpg') no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  /* margin-top: -24px; */
  margin-top: -2.4rem;

  /* margin-bottom: -50px; */
  margin-bottom: -5rem;
}

.landing-inner {
  /* padding-top: 80px; */

  padding-top: 8rem;
}

.dark-overlay {
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.card-form {
  opacity: 0.9;
}

.latest-profiles-img {
  /* width: 40px; */
  width: 4rem;

  /* height: 40px; */
  height: 4rem;
}

.form-control::placeholder {
  color: #bbb !important;
}

.edit-profile--optional-label {
  /* margin: 0px 10px; */
  margin: 0 1rem;
}

.edit-profile--social-icon-wrapper {
  width: 10%;
}

.edit-profile--social-icon-span {
  width: 100%;
}

.edit-profile--optional-label__centering-wrapper {
  text-align: center;
}

.post-feed--individual-comment-container__padding {
  padding-right: 0;
}

.post-feed--delete-comment-button__float {
  float: right;
}

.post-feed--post-interaction-container__bottom {
  display: flex;
  /* margin: 25px auto; */
  margin: 2.5rem auto;

  width: 83%;
}

.post-feed--comments-link-button__width {
  width: 100%;
}

.post-feed--post-text-__width {
  width: 75%;
  /* margin: 0px 13px; */
  margin: 0 1.3rem;

  float: left;
}

.posts-comments-submit-button {
  width: 100%;
}

.fab {
  margin: 0 auto;
}

#post-like-counter {
  /* margin-left: 1.5px; */
  margin-left: .15rem;
}

.fa-thumbs-up {
  /* margin-left: -6px; */
  margin-left: -.6rem;
}

.col-2, .col-8, .col-12 {
  padding: 0;
}

#profile-short-details-text {
  /* margin: 0px 0 0 13px; */
  margin: 0 0 0 1.3rem;

  float: left;
  width: 70%
}

#users-profile-name, .profileCurrentPosition, .profileLocation, #posters-profile-name {
  margin: 2vw 0;
}

#posters-profile-name {
  margin: 0;
}

#post-likes-wrapper {
  /* margin: 20px 0 0 0px; */
  margin: 2rem 0 0 0;
}

#dashboard-content-table {
  width: 97%;
  margin: 0px 1.5%;
}

.dashboard-content-container {
  border: 1px solid rgba(0,0,0,.125);
}

.profile-form-container {
  padding: 1.25rem;
}

@media only screen and (max-width: 450px) {
  .display-3 {
    font-size: 3.5em;
  }

  #btnSignupLink, #btnLoginLink {
    padding: .375rem .75rem;
    font-size: 1em;
  }

  #profile--container-wrapper {
    text-align: center;
  }

  #profile-heading {
    font-size: 2.5rem;
  }

  #profile--skillset {
    overflow-y: scroll;
    /* max-height: 250px; */
    max-height: 32vh;
  }

  #dashboard-content-table {
    width: 98%;
    margin: 0px 1%;
  }
}

@media only screen and (min-width: 500px) and (max-width: 767px) {
  #profile-short-details-text {
    /* margin: 5px 0 0 7px; */
    margin: .5rem 0 0 .7rem;

    /* font-size: 11px; */
    font-size: 1.1rem;
  }

  #users-profile-name, .profileCurrentPosition, .profileLocation, #posters-profile-name {
    margin: .25vw 0;
  }

  .lead {
    font-size: 0.8rem;
  }

  .post-feed--post-like-button__width, .post-feed--post-unlike-button__width-margin, .alt-img-font {
    /* font-size: 10px; */
    font-size: 1rem;

    /* padding: 5px 2px 0 8px; */
    padding: .5rem .2rem 0 .8rem;
  }
}

@media only screen and (max-width: 500px) {
  #create-profile-button {
    width: 100%;
  }

  .edit-profile--social-icon-wrapper {
    /* width: calc(5vw + 25px); */
    
    /* should you be VW instead of px**** */
    width: calc(5vw + 2.5rem);
  }

  #profile-short-details-text {
    width: 60%;
  }
}

@media only screen and (max-width: 991px) {
  .profileImageContainer {
    display: -webkit-box;
    margin-bottom: 30px;
  }

  .mainProfileInfoContainer {
    padding-top: 10px;
  }

  .headingSkillSet {
    font-size: 3.5vw;
    width: 100%;
    margin-top: 20px;
  }
}

@media only screen and (max-width: 767px) {
  .form-text {
    /* font-size: 80%; */

    /* this brings the old default of 16 down to 12.8 - i.e. 80% */
    font-size: 1.28rem;

  }

  .post-feed--post-interaction-container__bottom {
    display: flex;
    /* margin: 25px auto; */

    margin: 2.5rem auto;
  }

  .fa-thumbs-general {
    vertical-align: top;
  }

  .fa-thumbs-up {
    /* margin-left: -3px; */

    margin-left: -.3rem;
  }

  .post-feed--comments-link-button__width {
    width: 100%;
    margin-top: 0px;
    /* height: 30px; */

    height: 3rem;

    text-align: center;
  }

  #post-like-counter {
    vertical-align: top;
  }

  .post-feed--comments-link-button__width {
    padding: .25rem .5rem;
    font-size: .875rem;
  }

  .dashboard-content-container {
    /* border-radius: 5px; */

    border-radius: .5rem;

    margin-bottom: 10vh;
  }

  .dashboardWelcomeLabel, .dashboard-heading {
    text-align: center;
    margin-left: 0px;
  }

  .btnDeleteAccount {
    width: 94%;
    /* margin-left: 12px; */

    margin-left: 1.2rem;
  }

  #tableCellDeleteContainer {
    padding: 0px;
    /* margin-top: 15px; */

    margin-top: 1.5rem;

    margin-left: 0;

    max-width: 10%;
    flex: 0 0 10%;
    text-align: center;
  }

  .deleteDashboardContent {
    /* border-radius: 40px; */
    border-radius: 4rem;

    margin-bottom: 0px;
  }

  .table-item-sm {
    max-width: 30%;
    flex: 0 0 30%;
    text-align: center;
  }

  .dashboard-content-heading {
    text-align: center;
    /* padding: 15px 0px 5px 0; */

    padding: 1.5rem 0px .5rem 0;
  }

  .profileActions {
    display: block;
  }

  .profileActions > a {
    width: 100%;
  }
}

@media only screen and (max-width: 375px) {
  .table-item-sm {
    font-size: 0.7em;
  }

  #profile-item-skillset-padding {
    padding-right: 0;
  }

  .post-feed--comments-link-button__width {
    margin-left: 0;
  }

  #users-profile-name, .profileCurrentPosition, .profileLocation, #posters-profile-name {
    margin: .07vw 0;
  }

  #profile-short-details-text {
    /* font-size: 7px; */
    font-size: .7rem;

    /* margin: 3px 0 0 7px; */
    margin: .3rem 0 0 .7rem;
  }

  .list-group-item {
    font-size: .6em;
    padding: .3rem .7rem;
  }

  .post-feed--post-text-__width {
    width: 66%;
    /* margin: 0px 7px; */

    margin: 0px .7rem;
  }

  .lead {
    font-size: 0.65rem;
  }

  .post-feed--post-like-button__width, .post-feed--post-unlike-button__width-margin, .alt-img-font {
    /* font-size: 9px; */
    font-size: .9rem;

    /* padding: 2px 2px 0 4px; */

    padding: .2rem .2rem 0 .4rem;
  }
}

@media only screen and (min-width: 425px) and (max-width: 500px) {
  #profile-item-skillset-padding {
    padding-right: 7%;
  }
  
  .list-group-item {
    font-size: .6em;
  }

  #users-profile-name, .profileCurrentPosition, .profileLocation, #posters-profile-name {
    margin: .15vw 0;
  }

  #profile-short-details-text {
    /* font-size: 9px; */
    font-size: .9rem;

    /* margin: 5px 0 0 7px; */
    margin: .5rem 0 0 .7rem;
  }
  
  .post-feed--post-text-__width {
    width: 69.5%;
  }

  .lead {
    font-size: 0.7rem;
  }

  .post-feed--post-like-button__width, .post-feed--post-unlike-button__width-margin, .alt-img-font {
    /* font-size: 9px; */
    font-size: .9rem;

    /* padding: 5px 2px 0 5px; */
    padding: .5rem .2rem 0 .5rem;
  }
}


@media only screen and (min-width: 375px) and (max-width: 425px) {
  #profile-item-skillset-padding {
    padding-right: 7%;
  }

  #users-profile-name, .profileCurrentPosition, .profileLocation, #posters-profile-name {
    margin: .1vw 0;
  }

  #profile-short-details-text {
    /* font-size: 8px; */
    /* margin: 2px 0 0 7px; */

    font-size: .8rem;
    margin: .2rem 0 0 .7rem;
  }

  .list-group-item {
    font-size: .6em;
    padding: .3rem .7rem;
  }

  .lead {
    font-size: .65rem;
  }

  .post-feed--post-text-__width {
    width: 66%;
  }

  .post-feed--post-like-button__width, .post-feed--post-unlike-button__width-margin, .alt-img-font {
    /* font-size: 9px;
    padding: 2px 2px 5px 4px; */

    font-size: .9rem;
    padding: .2rem .2rem .5rem .4rem;
  }
}

@media only screen and (min-width: 376px) and (max-width: 575px) {
  .table-item-sm {
    font-size: 0.9em;
  }
}

@media only screen and (min-width: 576px) {
  .post-feed--delete-comment-button__float {
    /* padding: 1.5px 7px; */

    padding: .15rem .7rem;
  }
}

@media only screen and (max-width: 575px) {
  .post-feed--delete-comment-button__float {
    /* padding: 0px 5.5px; */

    padding: 0px .55rem;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
  #main-navbar {
    font-size: .85rem;
  }

  #dashboard-nav-link {
    /* margin-top: 5px; */

    margin-top: .5rem;

  }

  .posts-dashboard-link {
    /* margin-top: 7px; */

    margin-top: .7rem;
  }

  #navbar-logout-list-item {
    /* margin-top: 4px; */

    margin-top: .4rem;
  }

  .navbar-user-icon {
    vertical-align: bottom;
    /* margin-right: 15px; */

    margin-right: 1.5rem;
  }

  .post-feed--post-text-__width {
    width: 73%;
  }
}

@media only screen and (min-width: 768px) {
  .md-container {
    width: 100%;
    /* padding-right: 15px;
    padding-left: 15px; */

    padding-right: 1.5rem;
    padding-left: 1.5rem;

    margin-right: auto;
    margin-left: auto;

    max-width: 720px;
  }

  .post-feed--post-like-button__width, .post-feed--post-unlike-button__width-margin, .alt-img-font {
    /* font-size: 12px; */

    font-size: 1.2rem;
  }

  #delete-button-text {
    display: none;
  }

  #tableCellDeleteContainer {
    width: 7%;
    max-width: 7%;
    flex: 0 0 7%;
    text-align: center;
  }

  .dashboard-content-heading {
    /* padding: 19px 0 0 2vw; */

    padding: 1.9rem 0 0 2vw;
  }

  .dashboard-content-container {
    /* border-radius: 5px; */

    border-radius: .5rem;

    margin-bottom: 10vh;
  }

  .deleteDashboardContent {
    /* border-radius: 40px; */

    border-radius: 4rem;

    margin-bottom: 0px;
  }

  .table-item-md {
    -webkit-box-flex: 0;
    flex: 0 0 31%;
    max-width: 31%;
  }

  #table-header-filler-item {
    width: 7%;
    max-width: 7%;
    flex: 0 0 7%;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .post-feed--comments-link-button__width {
    width: 100%;
  }

  #profile-short-details-text {
    /* margin: -5px 0 0 13px; */

    margin: -.5rem 0 0 1.3rem;
  }

  #users-profile-name, .profileCurrentPosition, .profileLocation {
    margin: 1vw 0;
  }

  #posters-profile-name {
    margin-top: 1vw;
  }

  .profile-short-details-text {
    /* font-size: 13px; */

    font-size: 1.3rem;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1200px) {
}


@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .md-container {
    max-width: 960px;
  }

  .post-feed--comments-link-button__width {
    width: 100%;
  }

  #users-profile-name, .profileCurrentPosition, .profileLocation {
    margin: 1.5vw 0;
  }

  #posters-profile-name {
    margin-top: 1.5vw;
  }
}

@media only screen and (min-width: 1200px) {
  .md-container {
    max-width: 1140px;
  }

  .post-feed--comments-link-button__width {
    width: 100%;
  }

  .post-feed--post-like-button__width, .post-feed--post-unlike-button__width-margin {
    /* margin-bottom: -8px;
    margin-top: -5px; */

    margin-bottom: -.8rem;
    margin-top: -.5rem;
  }
}