{
  "presets": ["@babel/preset-env"],
  "plugins": [
    "@babel/plugin-transform-runtime",
    ["istanbul", {
      "exclude": [
        "**/*.test.js",
        "src/config/!(passport-manager).js"
      ]
    }]
  ]
}

