{
  "presets": ["@babel/preset-env"],
  "plugins": [
    "@babel/plugin-transform-runtime",
    ["istanbul", {
      "exclude": [
        "**/*.test.ts",
        "src/config/!(passport-manager).ts",
        "src/utils/*.ts"
      ]
    }]
  ]
}

